* {
    font-family: Arial, Helvetica, sans-serif;
}


form {
    text-align: center;
    background-color: #008060;
    color: #F1E8DB;
}

h1 {
    font-size: 3.3em;
}

h2 {
    font-size: 1.65em;
}

#email {
    margin: 10px;
    padding: 20px 10em 20px 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

#botaopreto {
    padding: 20px ;
    background-color: #212326;
    border: #212326;
    border-radius: 5px;    
    font-size: 16px;
    font-weight: bold;
    color: #F1E8DB;
}

#ajustetexto {
    padding: 10px;
    font-size: 0,6em;
    margin: 0 35%;
}



input::placeholder {
    color: #918f8b;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border: 1px solid red;
}

.symbols {
    width: 50%;
    height: 50%;
}

